.container {
  transform: scaleX(-1) !important;
}
.StepLabel {
  transform: scaleX(-1) !important;
}
.createLink {
  margin-top: 8vw;
  padding: 2vw;
  border-radius: 1vw;
  width: 40%;

  margin-right: 30%;
}
@media screen and (max-width: 640px) {
  .createLink {
    margin-top: 25vw;
    padding: 5vw;
    border-radius: 1vw;
    width: 100%;

    margin-right: 0%;
  }
}
